body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif,Poppins; 
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}

.bg-home {
  background: url("../../Assests/Home/bghome.jpg");
  background-position:right;
  background-repeat: no-repeat;
  background-size:cover;
}

.bg-workflow {
  background: url("../../Assests/Home/bg-set.jpg");
}
.responsive-img {
  height: 100vh;
  object-fit:fill;
}

.bg-Test {
  background: url("../../Assests/Home/Testimonials.jpg");
}
.text-workflow{
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 40px;
text-align: left;
color: #70BF29;
}
.text-service{
  font-weight: bold;
  font-size: 32px;
  width: 100%;
}
.text-about{
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}
.service-team{
  font-weight:medium;
  font-size: 18.01px;
  line-height: 40px;
}
.service {
  background: linear-gradient(270deg, #70BF29 50.08%, #1A3403 80.92%);
}

.service-description {
  font-weight: 500;
  font-size: 15.34px;
  line-height: 24.99px;
  color: #8c8d8b;
}

.service-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-img {
  max-width: 100px;
  height: auto;
}

.custom-btn {
  border-radius: 50px;
  color: #70BF29;
  border: 4px solid #70BF29;
  font-size: 16px;
  font-weight: 700;
}
.slick-prev:hover,
.slick-next:hover{
  background-color:#70BF29 !important;
  outline: none !important;
  border: none !important;
  border-radius: 10%;
  width: 40px  !important;
  height: 40px  !important;
}

.text-testimonials{
  font-size: 54px;
  line-height: 32px;
}
.testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: scale(1.4); 
  border-radius: 10px;
  background-color: #70BF29;
}


@media (max-width:567px){
  .text-testimonials{
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 768px) {
  .service-card {
    height: 100%;
  }

  .service-description {
    font-weight: 500;
    font-size: 12.34px;
    line-height: 20.99px;
    color: #8c8d8b;
  }
}


.input input {
  border: none;
  outline: none;
  background-color: #E1FDC9;
}

.input ::placeholder {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #999999;
  top: 0%;
}
.text-area ::placeholder {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #999999;
  top: 0%;
  left: 0%;
}

.section-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color:aliceblue;
}

.testimonial-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.testimonial-company {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.testimonial-stars {
  margin-top: 5px;
}

.testimonial-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-top: 10px;
  gap: 0px;
  opacity: 0px;
}

.slider-buttons button:hover {
  background-color: #0056b3;
}

/* .bh:hover{
  cursor: pointer;
  content: url("../../Assests/Home/bh.jpg");
}

.ah:hover{
  cursor: pointer;
  content: url("../../Assests/Home/ah.png");
}
.wh:hover{
  cursor: pointer;
  content: url("../../Assests/Home/wh.jpg");
}
.dh:hover{
  cursor: pointer;
  content: url("../../Assests/Home/dh.jpg");
}

.sh:hover{
  cursor: pointer;
  content: url("../../Assests/Home/sh.jpg");
} */


@media (min-width: 768px) {
  .testimonial-card {
    height: 100%;
  }
  .text-workflow{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    }
}

@media (max-width: 768px) {
  .text-workflow{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    }
}
@media (max-width:768px) {
  .responsive-img {
    width: 100%;
    height: 100%;
  }
}
.text-home {
  font-family: 'Poppins', sans-serif;
  font-size: 74px;
  width: 50%;
}


@media (max-width:768px) {
  .text-home {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    text-align: center;
    width: 75%;
  }
}
@media (max-width:567px) {
  .text-home{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 80%;
  }
}

@media (max-width:768px) {
  .bg-home {
    background: url("../../Assests/Home/bghome.jpg");
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:auto;
  }
}

@media (max-width:768px){
  .text-service{
    font-weight: bold;
    font-size: 12px;
    width: 100%;
  }
}

@media (max-width:767px){
  .text-about{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
  }
}

@media (max-width:767px)
{
  .service-team{
    font-weight:medium;
    font-size: 12px;
  }
}