/* .line{
    border-right: 1px solid #70BF29;
} */

.text-foo{
    font-size: 22.02px;
    font-family: "Poppins";
    line-height: 22px;
    color: #70BF29;
    font-weight:bold;
}
.f-text{
  font-size:18px;
  font-weight: bold;
}
@media (max-width:800px){
    .line{
        border-bottom: 1px solid #70BF29;
    }    
    .f-text{
      font-size:11px;
      font-weight:600;
    }
  }
  
  .hover:hover{
    color: #70BF29 !important;
  }


  .l{
    position: relative;
    background: transparent;
    overflow: hidden;
    color:#70BF29;
    border-radius: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
  }
  

  
  .b-span span {
    position: absolute;
    border-radius: 100vmax;
  }
  
  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(64, 223, 176, 0.5),
      rgb(156, 224, 153)
    );
  }
  
  .bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgb(214, 109, 109),
      rgba(244, 68, 68, 0.5),
      transparent 50%
    );
  }
  
  .right {
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(0, 255, 255, 0.5),
      rgb(0, 255, 255)
    );
  }
  
  .left {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 113),
      rgba(255, 255, 113, 0.5),
      transparent 70%
    );
  }
  
  .top {
    animation: animateTop 3s ease-in-out infinite;
  }
  
  .bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }
  
  .right {
    animation: animateRight 3s ease-in-out infinite;
  }
  
  .left {
    animation: animateLeft 3s ease-in-out infinite;
  }
  
  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }
  
    50% {
      opacity: 1;
      height: 100%;
    }
  
    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }
  
  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  .social-media-icon {
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    position: relative;
    color: white;
}

.social-media-icon:hover {
    transform:scale(1.4);
    /* color: rgb(20,148,214) !important; */
    background: radial-gradient(circle, #70BF29 10%, rgba(125,242,95,1) 8%, #70BF29 3%) !important;
    border: none !important;
    border-radius: 5px;
}
