.bg-terms {
    background-image: url("../../Assests/Terms/bg.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
}
@media (max-width:767px) {
    .bg-terms{
        background-image: url("../../Assests/Terms/bg.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size:cover;
    }
  }
.p-bg{
    background-image: url("../../Assests/Terms/t1.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
}
.s-bg{
    background-image: url("../../Assests/Terms/t2.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
}

.d-bg{
    background-image: url("../../Assests/Terms/t3.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
}
